<div id="businessRuleDetail">
    <form class="aui">
        <div class="field-group">
            <legend><span>Sub Category</span></legend>
            <select class="select" name="subCategory" id="subCategory">
              <option value="" id="none"></option>
              #foreach($subCategoryRow in $subCategoryList)
                #set ($subCategoryId = $subCategoryRow.get('subCategoryId'))
                #set ($subCategoryName = $subCategoryRow.get('subCategoryName'))
                #if($subCategoryId == $selectedSubCategoryId)
                    <option selected value="$subCategoryId">$subCategoryName</option>
                #else
                    <option value="$subCategoryId">$subCategoryName</option>
                #end
              #end
            </select>
        </div>
        <div class="field-group">
            <legend><span>Category Item</span></legend>
            <select class="select" name="categoryItem" id="categoryItem">
              <option value="" id="none"></option>
              #foreach($categoryItemRow in $categoryItemList)
                #set ($categoryItemId = $categoryItemRow.get('categoryItemId'))
                #set ($categoryItemName = $categoryItemRow.get('categoryItemName'))
                #if($categoryItemId == $selectedCategoryItemId)
                    <option selected value="$categoryItemId">$categoryItemName</option>
                #else
                    <option value="$categoryItemId">$categoryItemName</option>
                #end
              #end
            </select>
        </div>
        <div class="field-group">
            <legend><span>Category Component</span></legend>
            <select class="select" name="categoryComponent" id="categoryComponent">
              <option value="" id="none"></option>
              #foreach($categoryComponentRow in $categoryComponentList)
                #set ($categoryComponentId = $categoryComponentRow.get('categoryComponentId'))
                #set ($categoryComponentName = $categoryComponentRow.get('categoryComponentName'))
                #if($categoryComponentId == $selectedCategoryComponentId)
                    <option selected value="$categoryComponentId">$categoryComponentName</option>
                #else
                    <option value="$categoryComponentId">$categoryComponentName</option>
                #end
              #end
            </select>
        </div>
        <div class="field-group">
            <legend><span>Issue Type</span></legend>
            <select class="select" id="issueType" name="issueType" title="Issue Type">
              <option value="" id="none"></option>
              #foreach($issueTypesRow in $issueTypes)
                  #set ($issueTypeId = $issueTypesRow.get('issueTypeId'))
                  #set ($issueTypeName = $issueTypesRow.get('issueTypeName'))
                  #if($issueTypeId == $selectedIssueType)
                      <option selected value="$issueTypeId">$issueTypeName</option>
                  #else
                      <option value="$issueTypeId">$issueTypeName</option>
                  #end
              #end
            </select>
        </div>
        <br>
        <div class="field-group">
            <label for="userName">User Name</label>
           <select id="userName" name="userName" class="single-user-picker" data-user-type="assignee">
               <option selected="selected" value="#if($userName)$userName#end">#if($userDisplayName)$userDisplayName#end</option>
           </select>
           <script type="text/javascript">
               new AJS.SingleSelect({
                 element : AJS.$("#userName"),
                 submitInputVal: true,
                 showDropdownButton: false,
                 errorMessage: AJS.format("There is no such user \'\'{0}\'\'.", "'{0}'"),
                 ajaxOptions : {
                   url : contextPath + "/rest/api/2/user/picker",
                   query : true,
                   data: {showAvatar: true},
                   formatResponse : JIRA.UserPickerUtil.formatResponse
                 }
               });
           </script>
        </div>
    </form>


    <div class="field-group">
        <input class="aui-button" type="submit" value="Save" id="saveButton" style="float: left;">
        <input class="aui-button" type="submit" value="Delete" id="deleteButton" style="float: left; visibility: hidden">
        <input class="aui-button" type="submit" value="Continue" id="continueButton" style="float: left; visibility: hidden" />
    </div>

    <input type="hidden" name="selectedCategoryId" id="selectedCategoryId"  value="#if($selectedCategoryId)$selectedCategoryId#end">
    <input type="hidden" name="selectedSubCategoryId" id="selectedSubCategoryId"  value="#if($selectedSubCategoryId)$selectedSubCategoryId#end">
    <input type="hidden" name="selectedCategoryItemId" id="selectedCategoryItemId"  value="#if($selectedCategoryItemId)$selectedCategoryItemId#end">
    <input type="hidden" name="selectedCategoryComponentId" id="selectedCategoryComponentId"  value="#if($selectedCategoryComponentId)$selectedCategoryComponentId#end">
    <input type="hidden" name="selectedIssueType" id="selectedIssueType"  value="#if($selectedIssueType)$selectedIssueType#end">
    <input type="hidden" name="recordExists" id="recordExists" value="#if($recordExists)$recordExists#end">

    <div class="aui-message success" id="settingsSaved" style="visibility: hidden">
        <p class="title">
            <span class="aui-icon icon-success"></span>
        </p>
    </div>


<table id="jsdtable">
    <thead>
    <tr class="tr">
        <th id="test" class="sorter-true" colspan="6">
            <div class="tablesorter-header-inner">BUSINESS RULE TABLE</div>
        </th>
    </tr>
    <tr class="tr">
        <th id="categoryName" class="sorter-true" >
            <div class="tablesorter-header-inner">Category</div>
        </th>
        <th id="subCategoryName" class="sorter-true" >
            <div class="tablesorter-header-inner">Sub Category</div>
        </th>
        <th id="categoryItemName" class="sorter-true" >
            <div class="tablesorter-header-inner">Category Item</div>
        </th>
        <th id="categoryComponentName" class="sorter-true">
            <div class="tablesorter-header-inner">Category Component</div>
        </th>
        <th id="issueTypeName" class="sorter-true">
            <div class="tablesorter-header-inner">Issue Type</div>
        </th>
        <th id="userName" class="sorter-true" ">
        <div class="tablesorter-header-inner">User Name</div>
        </th>

    </tr>


    </thead>
    <tbody>
        #foreach($businessRuleListRow in $businessRuleList)
            #set ($categoryName = "")
            #set ($subCategoryName = "")
            #set ($categoryItemName = "")
            #set ($categoryComponentName = "")
            #set ($issueTypeName = "")
            #set ($userName = "")

            #set ($categoryName = $businessRuleListRow.get('categoryName'))
            #set ($subCategoryName = $businessRuleListRow.get('subCategoryName'))
            #set ($categoryItemName = $businessRuleListRow.get('categoryItemName'))
            #set ($categoryComponentName = $businessRuleListRow.get('categoryComponentName'))
            #set ($issueTypeName = $businessRuleListRow.get('issueTypeName'))
            #set ($userName = $businessRuleListRow.get('userName'))
            <tr bordercolor="red">
                <td><span>#if($categoryName)$categoryName#end</span></td>
                <td><span>#if($subCategoryName)$subCategoryName#end</span></td>
                <td><span>#if($categoryItemName)$categoryItemName#end</span></td>
                <td><span>#if($categoryComponentName)$categoryComponentName#end</span></td>
                <td><span>#if($issueTypeName)$issueTypeName#end</span></td>
                <td><span>#if($userName)$userName#end</span></td>
            </tr>
        #end
    </tbody>
</table>
</div>


<script type="text/javascript">
    AJS.$(document).ready(function () {
        var recordExistsVal = AJS.$("#recordExists").val();
        if (recordExistsVal == "yes") {
            AJS.$('#deleteButton').css("visibility", "visible");
        } else {
            AJS.$('#deleteButton').css("visibility", "hidden");
        }
    });

    jQuery(document).ready(function($) {
        JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e,context) {
            callSubCategoryChangeFunction();
            callCategoryItemChangeFunction();
            callCategoryComponentChangeFunction();
            callIssueTypeChangeFunction();
        });

        callSubCategoryChangeFunction();
        callCategoryItemChangeFunction();
        callCategoryComponentChangeFunction();
        callIssueTypeChangeFunction();

        function callSubCategoryChangeFunction()
        {
            var url = "businessruledefservlet";

            $("#subCategory").change(function() {
                jQuery.ajax({
                    type: "GET",
                    url : url,
                    data : {
                        'subcategorychanged' : 'yes',
                        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
                        'selectedSubCategoryId' : AJS.$("#subCategory").val()
                    },
                    success : function(data) {
                        console.log(data);
                        AJS.$("#businessRuleDetail").html(data);

                    },
                    error : function(response) {
                        AJS.$("#businessRuleDetail").html("");
                    }
                });
            });
        };

        function callCategoryItemChangeFunction()
        {
            var url = "businessruledefservlet";

            $("#categoryItem").change(function() {
                jQuery.ajax({
                    type: "GET",
                    url : url,
                    data : {
                        'categoryitemchanged' : 'yes',
                        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
                        'selectedSubCategoryId' : AJS.$("#subCategory").val(),
                        'selectedCategoryItemId' : AJS.$("#categoryItem").val()
                    },
                    success : function(data) {
                        console.log("testttt"+data);
                        AJS.$("#businessRuleDetail").html(data);
                    },
                    error : function(response) {
                        AJS.$("#businessRuleDetail").html("");
                    }
                });
            });
        };

        function callCategoryComponentChangeFunction()
        {
            var url = "businessruledefservlet";

            $("#categoryComponent").change(function() {
                jQuery.ajax({
                    type: "GET",
                    url : url,
                    data : {
                        'categorycomponentchanged' : 'yes',
                        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
                        'selectedSubCategoryId' : AJS.$("#subCategory").val(),
                        'selectedCategoryItemId' : AJS.$("#categoryItem").val(),
                        'selectedCategoryComponentId' : AJS.$("#categoryComponent").val()
                    },
                    success : function(data) {
                        console.log(data);
                        AJS.$("#businessRuleDetail").html(data);
                    },
                    error : function(response) {
                        AJS.$("#businessRuleDetail").html("");
                    }
                });
            });
        };

        function callIssueTypeChangeFunction()
        {
            var url = "businessruledefservlet";

            $("#issueType").change(function() {
                jQuery.ajax({
                    type: "GET",
                    url : url,
                    data : {
                        'issuetypechanged' : 'yes',
                        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
                        'selectedSubCategoryId' : AJS.$("#subCategory").val(),
                        'selectedCategoryItemId' : AJS.$("#categoryItem").val(),
                        'selectedCategoryComponentId' : AJS.$("#categoryComponent").val(),
                        'selectedIssueType' : AJS.$("#issueType").val()
                    },
                    success : function(data) {
                        console.log(data);
                        AJS.$("#businessRuleDetail").html(data);
                    },
                    error : function(response) {
                        AJS.$("#businessRuleDetail").html("");
                    }
                });
            });
        }
    });

    AJS.$("#saveButton").click(function(event) {
        event.preventDefault();

        var url = "businessruledefservlet";
        var actionType = "save";
        var selectedCategoryId = AJS.$("#selectedCategoryId").val() == "null" ? "" : AJS.$("#selectedCategoryId").val();
        var selectedSubCategoryId = AJS.$("#selectedSubCategoryId").val() == "null" ? "" : AJS.$("#selectedSubCategoryId").val();
        var selectedCategoryItemId = AJS.$("#selectedCategoryItemId").val() == "null" ? "" : AJS.$("#selectedCategoryItemId").val();
        var selectedCategoryComponentId = AJS.$("#selectedCategoryComponentId").val() == "null" ? "" : AJS.$("#selectedCategoryComponentId").val();
        var selectedIssueType = AJS.$("#selectedIssueType").val() == "null" ? "" : AJS.$("#selectedIssueType").val();
        var userName = AJS.$("#userName").val() == "null" ? "" : AJS.$("#userName").val();

        jQuery.ajax({
            type : "POST",
            url : url,
            data : {
                'selectedCategoryId' : selectedCategoryId,
                'selectedSubCategoryId' : selectedSubCategoryId,
                'selectedCategoryItemId' : selectedCategoryItemId,
                'selectedCategoryComponentId' : selectedCategoryComponentId,
                'selectedIssueType' : selectedIssueType,
                'selectedUserName' : userName,
                'actionType' : actionType
            },
            success : function(data) {
                console.log('dom', self, data);

                AJS.$("input").attr("disabled", true);

                AJS.$('#saveButton').css("visibility", "hidden");
                AJS.$('#deleteButton').css("visibility", "hidden");
                AJS.$('#continueButton').css("visibility", "visible");
                AJS.$('#continueButton').removeAttr('disabled');

                AJS.$('#settingsSaved').css("visibility", "visible");
                AJS.$('#settingsSaved').css("display", "");
                AJS.$('#settingsSaved').html('<strong>Success!</strong><p>Definition Saved</p>');
                AJS.$("#settingsSaved").delay(2000).fadeOut();
            },
            error : function() {
                console.log('error', arguments);
            }
        });
    });

    AJS.$("#deleteButton").click(function(event) {
        event.preventDefault();

        var url = "businessruledefservlet";
        var selectedCategoryId = AJS.$("#selectedCategoryId").val() == "null" ? "" : AJS.$("#selectedCategoryId").val();
        var selectedSubCategoryId = AJS.$("#selectedSubCategoryId").val() == "null" ? "" : AJS.$("#selectedSubCategoryId").val();
        var selectedCategoryItemId = AJS.$("#selectedCategoryItemId").val() == "null" ? "" : AJS.$("#selectedCategoryItemId").val();
        var selectedCategoryComponentId = AJS.$("#selectedCategoryComponentId").val() == "null" ? "" : AJS.$("#selectedCategoryComponentId").val();
        var selectedIssueType = AJS.$("#selectedIssueType").val() == "null" ? "" : AJS.$("#selectedIssueType").val();
        var userName = AJS.$("#userName").val() == "null" ? "" : AJS.$("#userName").val();
        var actionType = "delete";

        jQuery.ajax({
            type : "POST",
            url : url,
            data : {
                'selectedCategoryId' : selectedCategoryId,
                'selectedSubCategoryId' : selectedSubCategoryId,
                'selectedCategoryItemId' : selectedCategoryItemId,
                'selectedCategoryComponentId' : selectedCategoryComponentId,
                'selectedIssueType' : selectedIssueType,
                'selectedUserName' : userName,
                'actionType' : actionType
            },
            success : function(data) {
                console.log('dom', self, data);

                AJS.$("input").attr("disabled", true);

                AJS.$('#saveButton').css("visibility", "hidden");
                AJS.$('#deleteButton').css("visibility", "hidden");
                AJS.$('#continueButton').css("visibility", "visible");
                AJS.$('#continueButton').removeAttr('disabled');

                AJS.$('#settingsSaved').css("visibility", "visible");
                AJS.$('#settingsSaved').css("display", "");
                AJS.$('#settingsSaved').html('<strong>Success!</strong><p>Definition Deleted</p>');
                AJS.$("#settingsSaved").delay(2000).fadeOut();
            },
            error : function() {
                console.log('error', arguments);
            }
        });
    });

    AJS.$("#continueButton").click(function(event) {
        event.preventDefault();
        location.reload();
    });
</script>