#set($size = $categoryList.size())
<form class="aui">
    <table id="categoryTable" class="aui tablesorter">
        <thead>
            <tr class="tr">
                <th id="categoryId" class="sorter-true" style="display: none;">
                    <div class="tablesorter-header-inner">ID</div>
                </th>
                <th id="categoryName" class="sorter-true">
                    <div class="tablesorter-header-inner">Category Name</div>
                </th>
                <th id="categoryName" class="sorter-true">
                    <div class="tablesorter-header-inner">Request Type</div>
                </th>
                <th id="categoryName" class="sorter-true">
                    <div class="tablesorter-header-inner">Group</div>
                </th>
                <th id="order" class="sorter-false">
                    <div class="tablesorter-header-inner"></div>
                </th>
            </tr>
        </thead>

        <tbody>
            #set ($counter = 1)
            #if ($size > 0)
                #foreach($categoryTableRow in $categoryList)
                    <tr>
                        #set ($categoryId = $categoryTableRow.get('categoryId'))
                        #set ($categoryName = $categoryTableRow.get('categoryName'))
                        #set ($requestType = $categoryTableRow.get('requestType'))
                        #set ($groupName = $categoryTableRow.get('groupName'))

                        <td style="display: none;">
                            <input class="text"  type="text" name="categoryId$counter" id="categoryId$counter" value="#if($categoryId)$categoryId#end"/>
                        </td>
                        <td>
                            <input class="text long-field" type="text" name="categoryName$counter" id="categoryName$counter" value="#if($categoryName)$categoryName#end"/>
                        </td>
                        <td >
                            <input class="text long-field" type="text" name="requestType$counter" id="requestType$counter" value="#if($requestType)$requestType#end"/>
                        </td>
                        <td>
                            <select id="groupName$counter" name="groupName$counter" class="single-group-picker">
                                <option selected="selected" value="#if($groupName)$groupName#end">#if($groupName)$groupName#end</option>
                            </select>
                            <script type="text/javascript">
                                new AJS.SingleSelect({
                                  element : AJS.$("#groupName$counter"),
                                  submitInputVal: true,
                                  showDropdownButton: false,
                                  errorMessage: AJS.format("There is no such group \'\'{0}\'\'.", "'{0}'"),
                                  ajaxOptions : {
                                      url : contextPath + "/rest/api/2/groups/picker",
                                      query : true,
                                      data: {showAvatar: true},
                                      formatResponse : JIRA.GroupPickerUtil.formatResponse
                                  }
                                });
                            </script>
                        </td>
                        <td>
                            <input class="aui-button jiracategorytabledelete" type="submit" value="Delete" id="$counter" style="float: left;">
                        </td>
                    </tr>
                    #set ($counter = $counter + 1)
                #end
                <tr>
                    <td>
                        <input class="aui-button" type="submit" value="Add Row" id="addRowButton" style="float: left;">
                        <input class="aui-button" type="submit" value="Save" id="submitButton" style="float: left;">
                    </td>
                </tr>
            #else
                <tr>
                    <td style="display: none;">
                        <input class="text" type="text" name="categoryId$counter" id="categoryId$counter" value=""/>
                    </td>
                    <td>
                        <input class="text long-field" type="text" name="categoryName$counter" id="categoryName$counter" value=""/>
                    </td>
                    <td >
                        <input class="text long-field" type="text" name="requestType$counter" id="requestType$counter" value="#if($requestType)$requestType#end"/>
                    </td>
                    <td>
                        <select id="groupName$counter" name="groupName$counter" class="single-group-picker">
                            <option selected="selected" value=""></option>
                        </select>
                        <script type="text/javascript">
                            new AJS.SingleSelect({
                              element : AJS.$("#groupName$counter"),
                              submitInputVal: true,
                              showDropdownButton: false,
                              errorMessage: AJS.format("There is no such group \'\'{0}\'\'.", "'{0}'"),
                              ajaxOptions : {
                                  url : contextPath + "/rest/api/2/groups/picker",
                                  query : true,
                                  data: {showAvatar: true},
                                  formatResponse : JIRA.GroupPickerUtil.formatResponse
                              }
                            });
                        </script>
                    </td>
                    <td>
                        <input class="aui-button jiracategorytabledelete" type="submit" value="Delete" id="$counter" style="float: left;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="aui-button" type="submit" value="Add Row" id="addRowButton" style="float: left;">
                        <input class="aui-button" type="submit" value="Save" id="submitButton" style="float: left;">
                    </td>
                </tr>
            #end
        </tbody>
    </table>
</form>

<div class="aui-message success" id="settingsSaved" style="visibility: hidden">
  	<p class="title">
		<span class="aui-icon icon-success"></span>
	</p>
</div>


<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".jiracategorytabledelete").click(function() {
			event.preventDefault();
			var url = "categorydefservlet";
			var deleteid = parseInt($(this).attr("id"));
			var tableData = AJS.$('#categoryTable').html();
			
			var myTableArray = [];
			var table = document.getElementById('categoryTable');
		    var rijen = table.getElementsByTagName("tr").length;
		    		
		    for (i = 1; i < rijen; i++) {
		    	if (deleteid != i)
		    	{
			    	var arrayOfThisRow = [];
			        var inputs = table.getElementsByTagName("tr").item(i).getElementsByTagName("input");
			        var selects = table.getElementsByTagName("tr").item(i).getElementsByTagName("select");

			        if (inputs.length > 0 && selects.length > 0) {
                        if (inputs[0].id != "addRowButton" && inputs[1].id != "submitButton") {
                            var inputval1 = inputs[0].value;
                            arrayOfThisRow.push(inputval1);
                            var inputval2 = inputs[1].value;
                            arrayOfThisRow.push(inputval2);
                            var inputval3 = inputs[2].value;
                            arrayOfThisRow.push(inputval3);
                        }

                        var selectval1 = selects[0].value;
                        arrayOfThisRow.push(selectval1);

                        var myJsonString = JSON.stringify(arrayOfThisRow);
                        myTableArray.push(myJsonString);
                    }

			    }
		    }
		    
		    var data_to_send = JSON.stringify(myTableArray);
		    
			jQuery.ajax({
				type : "GET",
				url : url,
				data : { 
			        'tableData' : data_to_send,
			        'deleterow' : 'yes'
			    },
				success : function(data) {
					console.log('dom', self, data);
					AJS.$("#categoryTable").html(data);
				},
				error : function() {
					console.log('error', arguments);
				}
			});
		});
	}); 

	jQuery(document).ready(function() {
		AJS.$("#addRowButton").click(function(event) {

			event.preventDefault();
			var url = "categorydefservlet";
			
			var tableData = AJS.$('#categoryTable').html();
			
			var myTableArray = [];
			var table = document.getElementById('categoryTable');
		    var rijen = table.getElementsByTagName("tr").length;
		    		
		    for (i = 1; i < rijen; i++) {
		    	var arrayOfThisRow = [];
		        var inputs = table.getElementsByTagName("tr").item(i).getElementsByTagName("input");
                var selects = table.getElementsByTagName("tr").item(i).getElementsByTagName("select");

                if (inputs.length > 0 && selects.length > 0) {
                    if (inputs[0].id != "addRowButton" && inputs[1].id != "submitButton") {
                        var inputval1 = inputs[0].value;
                        arrayOfThisRow.push(inputval1);
                        var inputval2 = inputs[1].value;
                        arrayOfThisRow.push(inputval2);
                        var inputval3 = inputs[2].value;
                        arrayOfThisRow.push(inputval3);
                    }

                    var selectval1 = selects[0].value;
                    arrayOfThisRow.push(selectval1);

                    var myJsonString = JSON.stringify(arrayOfThisRow);
                    myTableArray.push(myJsonString);
                }
		    }
		    
		    var data_to_send = JSON.stringify(myTableArray);
		    
			jQuery.ajax({
				type : "GET",
				url : url,
				data : { 
			        'tableData' : data_to_send,
			        'addnewrow' : 'yes'
			    },
				success : function(data) {
					console.log('dom', self, data);
					AJS.$("#categoryTable").html(data);
				},
				error : function() {
					console.log('error', arguments);
				}
			});
		});
	}); 
		
	jQuery(document).ready(function() {
		AJS.$("#submitButton").click(function(event) {

			event.preventDefault();
						
			var url = "categorydefservlet";
			var tableData = AJS.$('#categoryTable').html();
			
			var myTableArray = [];
			var table = document.getElementById('categoryTable');
		    var rijen = table.getElementsByTagName("tr").length;
		    		
		    for (i = 1; i < rijen; i++) {
		    	var arrayOfThisRow = [];
		        var inputs = table.getElementsByTagName("tr").item(i).getElementsByTagName("input");
                var selects = table.getElementsByTagName("tr").item(i).getElementsByTagName("select");

                if (inputs.length > 0 && selects.length > 0) {
                    if (inputs[0].id != "addRowButton" && inputs[1].id != "submitButton") {
                        var inputval1 = inputs[0].value;
                        arrayOfThisRow.push(inputval1);
                        var inputval2 = inputs[1].value;
                        arrayOfThisRow.push(inputval2);
                        var inputval3 = inputs[2].value;
                        arrayOfThisRow.push(inputval3);
                    }

                    var selectval1 = selects[0].value;
                    arrayOfThisRow.push(selectval1);

                    var myJsonString = JSON.stringify(arrayOfThisRow);
                    myTableArray.push(myJsonString);
                }
		    }
		    
		    var data_to_send = JSON.stringify(myTableArray);
		    
			jQuery.ajax({
				type : "POST",
				url : url,
				data : { 
			        'tableData' : data_to_send
			    },
				success : function(data) {
					console.log('dom', self, data);

                    AJS.$("input").attr("disabled", true);

                    AJS.$('#submitButton').css("visibility", "hidden");
                    AJS.$('#addRowButton').css("visibility", "hidden");
                    AJS.$(".jiracategorytabledelete").css("visibility", "hidden");

                    AJS.$('#settingsSaved').css("visibility", "visible");
                    AJS.$('#settingsSaved').css("display", "");
                    AJS.$('#settingsSaved').html('<strong>Success!</strong><p>Definition Saved</p>');
                    AJS.$("#settingsSaved").delay(2000).fadeOut();
				},
				error : function() {
					console.log('error', arguments);
				}
			});
		});
	}); 
</script>