<div id="categoryComponentDetail">
    <form class="aui">
        #set($sizeSCL = $subCategoryList.size())
        #if ($sizeSCL > 0)
        <div class="field-group">
            <legend><span>Sub Category</span></legend>
            <select class="select" name="subCategory" id="subCategory">
              <option value="" id="none"></option>
              #foreach($subCategoryRow in $subCategoryList)
                #set ($subCategoryId = $subCategoryRow.get('subCategoryId'))
                #set ($subCategoryName = $subCategoryRow.get('subCategoryName'))
                #if($subCategoryId == $selectedSubCategoryId)
                    <option selected value="$subCategoryId">$subCategoryName</option>
                #else
                    <option value="$subCategoryId">$subCategoryName</option>
                #end
              #end
            </select>
        </div>
        #end
        #set($sizeCIL = $categoryItemList.size())
        #if ($sizeCIL > 0)
        <div class="field-group">
            <legend><span>Category Item</span></legend>
            <select class="select" name="categoryItem" id="categoryItem">
              <option value="" id="none"></option>
              #foreach($categoryItemRow in $categoryItemList)
                #set ($categoryItemId = $categoryItemRow.get('categoryItemId'))
                #set ($categoryItemName = $categoryItemRow.get('categoryItemName'))
                #if($categoryItemId == $selectedCategoryItemId)
                    <option selected value="$categoryItemId">$categoryItemName</option>
                #else
                    <option value="$categoryItemId">$categoryItemName</option>
                #end
              #end
            </select>
        </div>
        #end
        #set($size = $categoryComponentList.size())
        #if ($selectedCategoryId != "" && $selectedSubCategoryId != "" && $selectedCategoryItemId != "")
        <div class="field-group">
        <table id="categoryComponentTable" class="aui tablesorter">
            <thead>
                <tr class="tr">
                    <th id="categoryComponentId" class="sorter-true" style="display: none;">
                        <div class="tablesorter-header-inner">ID</div>
                    </th>
                    <th id="categoryComponentName" class="sorter-true">
                        <div class="tablesorter-header-inner">Category Component Name</div>
                    </th>
                    <th id="order" class="sorter-false">
                        <div class="tablesorter-header-inner"></div>
                    </th>
                </tr>
            </thead>

            <tbody>
                #set ($counter = 1)
                #if ($size > 0)
                    #foreach($categoryComponentTableRow in $categoryComponentList)
                        <tr>
                            #set ($categoryComponentId = $categoryComponentTableRow.get('categoryComponentId'))
                            #set ($categoryComponentName = $categoryComponentTableRow.get('categoryComponentName'))

                            <td style="display: none;">
                                <input class="text"  type="text" name="categoryComponentId$counter" id="categoryComponentId$counter" value="#if($categoryComponentId)$categoryComponentId#end"/>
                            </td>
                            <td>
                                <input class="text long-field" type="text" name="categoryComponentName$counter" id="categoryComponentName$counter" value="#if($categoryComponentName)$categoryComponentName#end"/>
                            </td>
                            <td>
                                <input class="aui-button jiracategorycomponenttabledelete" type="submit" value="Delete" id="$counter" style="float: left;">
                            </td>
                        </tr>
                        #set ($counter = $counter + 1)
                    #end
                    <tr>
                        <td>
                            <input class="aui-button" type="submit" value="Add Row" id="addRowButton" style="float: left;">
                            <input class="aui-button" type="submit" value="Save" id="submitButton" style="float: left;">
                        </td>
                    </tr>
                #else
                    <tr>
                        <td style="display: none;">
                            <input class="text" type="text" name="categoryComponentId$counter" id="categoryComponentId$counter" value=""/>
                        </td>
                        <td>
                            <input class="text long-field" type="text" name="categoryComponentName$counter" id="categoryComponentName$counter" value=""/>
                        </td>
                        <td>
                            <input class="aui-button jiracategorycomponenttabledelete" type="submit" value="Delete" id="$counter" style="float: left;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="aui-button" type="submit" value="Add Row" id="addRowButton" style="float: left;">
                            <input class="aui-button" type="submit" value="Save" id="submitButton" style="float: left;">
                        </td>
                    </tr>
                #end
            </tbody>
        </table>
        </div>
        #end
    </form>

    <input type="hidden" name="selectedCategoryId" id="selectedCategoryId"  value="#if($selectedCategoryId)$selectedCategoryId#end">
    <input type="hidden" name="selectedSubCategoryId" id="selectedSubCategoryId"  value="#if($selectedSubCategoryId)$selectedSubCategoryId#end">
    <input type="hidden" name="selectedCategoryItemId" id="selectedCategoryItemId"  value="#if($selectedCategoryItemId)$selectedCategoryItemId#end">

    <div class="aui-message success" id="settingsSaved" style="visibility: hidden">
        <p class="title">
            <span class="aui-icon icon-success"></span>
        </p>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function($) {
        JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e,context) {
            callSubCategoryChangeFunction();
        });

        callSubCategoryChangeFunction();

        function callSubCategoryChangeFunction()
        {
            var url = "categorycomponentdefservlet";

            $("#subCategory").change(function() {
                jQuery.ajax({
                    type: "GET",
                    url : url,
                    data : {
                        'subcategorychanged' : 'yes',
                        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
                        'selectedSubCategoryId' : AJS.$("#subCategory").val()
                    },
                    success : function(data) {
                        console.log(data);
                        AJS.$("#categoryComponentDetail").html(data);
                    },
                    error : function(response) {
                        AJS.$("#categoryComponentDetail").html("");
                    }
                });
            });
        }
    });

    jQuery(document).ready(function($) {
        JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e,context) {
            callCategoryItemChangeFunction();
        });

        callCategoryItemChangeFunction();

        function callCategoryItemChangeFunction()
        {
            var url = "categorycomponentdefservlet";

            $("#categoryItem").change(function() {
                jQuery.ajax({
                    type: "GET",
                    url : url,
                    data : {
                        'categoryitemchanged' : 'yes',
                        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
                        'selectedSubCategoryId' : AJS.$("#selectedSubCategoryId").val(),
                        'selectedCategoryItemId' : AJS.$("#categoryItem").val()
                    },
                    success : function(data) {
                        console.log(data);
                        AJS.$("#categoryComponentDetail").html(data);
                    },
                    error : function(response) {
                        AJS.$("#categoryComponentDetail").html("");
                    }
                });
            });
        }
    });


	jQuery(document).ready(function($) {
		$(".jiracategorycomponenttabledelete").click(function() {
			event.preventDefault();
			var url = "categorycomponentdefservlet";
			var deleteid = parseInt($(this).attr("id"));
			var tableData = AJS.$('#categoryComponentTable').html();
			
			var myTableArray = [];
			var table = document.getElementById('categoryComponentTable');
		    var rijen = table.getElementsByTagName("tr").length;
		    		
		    for (i = 1; i < rijen; i++) {
		    	if (deleteid != i)
		    	{
			    	var arrayOfThisRow = [];
			        var inputs = table.getElementsByTagName("tr").item(i).getElementsByTagName("input");

                    if (inputs[0].id != "addRowButton" && inputs[1].id != "submitButton") {
                        var inputval1 = inputs[0].value;
                        arrayOfThisRow.push(inputval1);
                        var inputval2 = inputs[1].value;
                        arrayOfThisRow.push(inputval2);

                        var myJsonString = JSON.stringify(arrayOfThisRow);
                        myTableArray.push(myJsonString);
                    }
			    }
		    }
		    
		    var data_to_send = JSON.stringify(myTableArray);
		    
			jQuery.ajax({
				type : "GET",
				url : url,
				data : { 
			        'tableData' : data_to_send,
			        'deleterow' : 'yes',
			        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
			        'selectedSubCategoryId' : AJS.$("#selectedSubCategoryId").val(),
			        'selectedCategoryItemId' : AJS.$("#selectedCategoryItemId").val()
			    },
				success : function(data) {
					console.log('dom', self, data);
					AJS.$("#categoryComponentDetail").html(data);
				},
				error : function() {
					console.log('error', arguments);
				}
			});
		});
	}); 

	jQuery(document).ready(function() {
		AJS.$("#addRowButton").click(function(event) {

			event.preventDefault();
			var url = "categorycomponentdefservlet";
			
			var tableData = AJS.$('#categoryComponentTable').html();
			
			var myTableArray = [];
			var table = document.getElementById('categoryComponentTable');
		    var rijen = table.getElementsByTagName("tr").length;
		    		
		    for (i = 1; i < rijen; i++) {
		    	var arrayOfThisRow = [];
		        var inputs = table.getElementsByTagName("tr").item(i).getElementsByTagName("input");

                if (inputs[0].id != "addRowButton" && inputs[1].id != "submitButton") {
                    var inputval1 = inputs[0].value;
                    arrayOfThisRow.push(inputval1);
                    var inputval2 = inputs[1].value;
                    arrayOfThisRow.push(inputval2);

                    var myJsonString = JSON.stringify(arrayOfThisRow);
                    myTableArray.push(myJsonString);
                }
		    }
		    
		    var data_to_send = JSON.stringify(myTableArray);
		    
			jQuery.ajax({
				type : "GET",
				url : url,
				data : { 
			        'tableData' : data_to_send,
			        'addnewrow' : 'yes',
                    'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
                    'selectedSubCategoryId' : AJS.$("#selectedSubCategoryId").val(),
                    'selectedCategoryItemId' : AJS.$("#selectedCategoryItemId").val()
			    },
				success : function(data) {
					console.log('dom', self, data);
					AJS.$("#categoryComponentDetail").html(data);
				},
				error : function() {
					console.log('error', arguments);
				}
			});
		});
	}); 
		
	jQuery(document).ready(function() {
		AJS.$("#submitButton").click(function(event) {

			event.preventDefault();
						
			var url = "categorycomponentdefservlet";
			var tableData = AJS.$('#categoryComponentTable').html();
			
			var myTableArray = [];
			var table = document.getElementById('categoryComponentTable');
		    var rijen = table.getElementsByTagName("tr").length;
		    		
		    for (i = 1; i < rijen; i++) {
		    	var arrayOfThisRow = [];
		        var inputs = table.getElementsByTagName("tr").item(i).getElementsByTagName("input");

                if (inputs[0].id != "addRowButton" && inputs[1].id != "submitButton") {
                    var inputval1 = inputs[0].value;
                    arrayOfThisRow.push(inputval1);
                    var inputval2 = inputs[1].value;
                    arrayOfThisRow.push(inputval2);

                    var myJsonString = JSON.stringify(arrayOfThisRow);
                    myTableArray.push(myJsonString);
                }
		    }
		    
		    var data_to_send = JSON.stringify(myTableArray);
		    
			jQuery.ajax({
				type : "POST",
				url : url,
				data : { 
			        'tableData' : data_to_send,
			        'selectedCategoryId' : AJS.$("#selectedCategoryId").val(),
			        'selectedSubCategoryId' : AJS.$("#selectedSubCategoryId").val(),
			        'selectedCategoryItemId' : AJS.$("#selectedCategoryItemId").val()
			    },
				success : function(data) {
					console.log('dom', self, data);

                    AJS.$("input").attr("disabled", true);

                    AJS.$('#submitButton').css("visibility", "hidden");
                    AJS.$('#addRowButton').css("visibility", "hidden");
                    AJS.$(".jiracategorycomponenttabledelete").css("visibility", "hidden");

                    AJS.$('#settingsSaved').css("visibility", "visible");
                    AJS.$('#settingsSaved').css("display", "");
                    AJS.$('#settingsSaved').html('<strong>Success!</strong><p>Definition Saved</p>');
                    AJS.$("#settingsSaved").delay(2000).fadeOut();
				},
				error : function() {
					console.log('error', arguments);
				}
			});
		});
	}); 
</script>