<html>

<head>
    <title>Field Mapping Screen</title>
    <meta name="decorator" content="atl.admin"> $webResourceManager.requireResource("tr.com.almbase.plugin.remote-issue-link:remote-issue-link-resources")

</head>

<body class="page-type-admin">
	<td class="jiraformheader"><h3 class="formtitle">Field Mapping Screen</h3></td>
    <form action="fieldmappingservlet" method="get" id="approver-main-form" class="aui">
        <fieldset class="group">
            <div class="field-group">
                <legend><span>Integration</span></legend>
                <select class="select" name="integration" id="integration">
                  <option value="" id="none"></option>
                  #foreach($integrationRow in $integrationList)
                      #set ($integrationId = $integrationRow.get('integrationId'))
                      #set ($integrationName = $integrationRow.get('integrationName'))
                      <option value="$integrationId" id="$integrationId">$integrationName</option>
                  #end
                </select>
            </div>
        </fieldset>
        <div id="fieldMappingDetail"></div>
    </form>

    <script type="text/javascript">
        jQuery(document).ready(function($) {
            JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED, function (e,context) {
                callIntegrationChangeFunction();
            });

            callIntegrationChangeFunction();

            function callIntegrationChangeFunction()
            {
                var url = "fieldmappingservlet";

                $("#integration").change(function() {
                    jQuery.ajax({
                        type: "GET",
                        url : url,
                        data : {
                            'initial' : 'yes',
                            'selectedIntegrationId' : AJS.$("#integration").val()
                        },
                        success : function(data) {
                            console.log(data);
                            AJS.$("#fieldMappingDetail").html(data);
                        },
                        error : function(response) {
                            AJS.$("#fieldMappingDetail").html("");
                        }
                    });
                });
            }
        });
   </script>
</body>
</html>