<div class="field-group">
    <legend><span>Group Name</span></legend>
    <select id="groupName" name="groupName" class="single-group-picker">
        <option selected="selected" value="#if($groupName)$groupName#end">#if($groupName)$groupName#end</option>
    </select>
    <script type="text/javascript">
        new AJS.SingleSelect({
          element : AJS.$("#groupName"),
          submitInputVal: true,
          showDropdownButton: false,
          errorMessage: AJS.format("There is no such group \'\'{0}\'\'.", "'{0}'"),
          ajaxOptions : {
              url : contextPath + "/rest/api/2/groups/picker",
              query : true,
              data: {showAvatar: true},
              formatResponse : JIRA.GroupPickerUtil.formatResponse
          }
        });
    </script>
</div>

<div class="field-group">
    <input class="aui-button" type="submit" value="Save" id="saveButton" style="float: left;">
    <input class="aui-button" type="submit" value="Delete" id="deleteButton" style="float: left; visibility: hidden">
    <input class="aui-button" type="submit" value="Continue" id="continueButton" style="float: left; visibility: hidden" />
</div>

<div class="aui-message success" id="settingsSaved" style="visibility: hidden">
  	<p class="title">
		<span class="aui-icon icon-success"></span>
	</p>
</div>
<input type="hidden" name="selectedIssueType" id="selectedIssueType" value="#if($selectedIssueType)$selectedIssueType#end">
<input type="hidden" name="recordExists" id="recordExists" value="#if($recordExists)$recordExists#end">

<script type="text/javascript">
    AJS.$(document).ready(function () {
        var recordExistsVal = AJS.$("#recordExists").val();
        if (recordExistsVal == "yes") {
            AJS.$('#deleteButton').css("visibility", "visible");
        } else {
            AJS.$('#deleteButton').css("visibility", "hidden");
        }
    });

    AJS.$("#saveButton").click(function(event) {
        event.preventDefault();

        var url = "issuetypegroupdefservlet";
        var actionType = "save";
        var selectedIssueType = AJS.$("#selectedIssueType").val() == "null" ? "" : AJS.$("#selectedIssueType").val();
        var groupName = AJS.$("#groupName").val() == "null" ? "" : AJS.$("#groupName").val();

        jQuery.ajax({
            type : "POST",
            url : url,
            data : {
                'selectedIssueType' : selectedIssueType,
                'selectedGroupName' : groupName,
                'actionType' : actionType
            },
            success : function(data) {
                console.log('dom', self, data);

                AJS.$("input").attr("disabled", true);

                AJS.$('#saveButton').css("visibility", "hidden");
                AJS.$('#deleteButton').css("visibility", "hidden");
                AJS.$('#continueButton').css("visibility", "visible");
                AJS.$('#continueButton').removeAttr('disabled');

                AJS.$('#settingsSaved').css("visibility", "visible");
                AJS.$('#settingsSaved').css("display", "");
                AJS.$('#settingsSaved').html('<strong>Success!</strong><p>Definition Saved</p>');
                AJS.$("#settingsSaved").delay(2000).fadeOut();
            },
            error : function() {
                console.log('error', arguments);
            }
        });
    });

    AJS.$("#deleteButton").click(function(event) {
        event.preventDefault();

        var url = "issuetypegroupdefservlet";
        var actionType = "delete";

        jQuery.ajax({
            type : "POST",
            url : url,
            data : {
                'selectedIssueType' : AJS.$("#selectedIssueType").val(),
                'actionType' : actionType
            },
            success : function(data) {
                console.log('dom', self, data);

                AJS.$("input").attr("disabled", true);

                AJS.$('#saveButton').css("visibility", "hidden");
                AJS.$('#deleteButton').css("visibility", "hidden");
                AJS.$('#continueButton').css("visibility", "visible");
                AJS.$('#continueButton').removeAttr('disabled');

                AJS.$('#settingsSaved').css("visibility", "visible");
                AJS.$('#settingsSaved').css("display", "");
                AJS.$('#settingsSaved').html('<strong>Success!</strong><p>Definition Deleted</p>');
                AJS.$("#settingsSaved").delay(2000).fadeOut();
            },
            error : function() {
                console.log('error', arguments);
            }
        });
    });

    AJS.$("#continueButton").click(function(event) {
        event.preventDefault();
        location.reload();
    });
</script>