<div>
<form class="aui">
    <fieldset class="group">
        <div class="field-group">
            <label for="proxyHostLabel">
                <span class="aui-icon icon-required">Required</span>
                <span>Host</span>
            </label>
            <input class="text" type="text" name="proxyHost" id="proxyHost" value="#if($proxyHost)$proxyHost#end"/>
        </div>
    </fieldset>
    <fieldset class="group">
        <div class="field-group">
            <label for="proxyHostLabel">
                <span class="aui-icon icon-required">Required</span>
                <span>Port</span>
            </label>
            <input class="text" type="text" name="proxyPort" id="proxyPort" value="#if($proxyPort)$proxyPort#end"/>
        </div>
    </fieldset>
    <fieldset class="group">
        <div class="field-group">
            <label for="proxyHostLabel">
                <span class="aui-icon icon-required">Required</span>
                <span>Username</span>
            </label>
            <input class="text" type="text" name="proxyUsername" id="proxyUsername" value="#if($proxyUsername)$proxyUsername#end"/>
        </div>
    </fieldset>
    <fieldset class="group">
        <div class="field-group">
            <label for="proxyHostLabel">
                <span class="aui-icon icon-required">Required</span>
                <span>Password</span>
            </label>
            <input class="password" type="password" name="proxyPassword" id="proxyPassword" value="#if($proxyPassword)$proxyPassword#end"/>
        </div>
    </fieldset>

    <fieldset class="group">
        <div class="field-group">
            <input class="aui-button" type="submit" value="Save" id="saveButton" style="float: left;">
        </div>
    </fieldset>
</form>
</div>

<div class="aui-message success" id="settingsSaved" style="visibility: hidden">
    <p class="title">
        <span class="aui-icon icon-success"></span>
    </p>
</div>


<script type="text/javascript">
    jQuery(document).ready(function() {
        AJS.$("#saveButton").click(function(event) {
            event.preventDefault();

            var url = "proxydefservlet";

            jQuery.ajax({
                type : "POST",
                url : url,
                data : {
                    'proxyHost' : AJS.$("#proxyHost").val(),
                    'proxyPort' : AJS.$("#proxyPort").val(),
                    'proxyUsername' : AJS.$("#proxyUsername").val(),
                    'proxyPassword' : AJS.$("#proxyPassword").val()
                },
                success : function(data) {
                    console.log('dom', self, data);

                    AJS.$("input").attr("disabled", true);

                    AJS.$('#submitButton').css("visibility", "hidden");
                    AJS.$('#addRowButton').css("visibility", "hidden");

                    AJS.$('#settingsSaved').css("visibility", "visible");
                    AJS.$('#settingsSaved').css("display", "");
                    AJS.$('#settingsSaved').html('<strong>Success!</strong><p>Definition Saved</p>');
                    AJS.$("#settingsSaved").delay(2000).fadeOut();
                },
                error : function() {
                    console.log('error', arguments);
                }
            });
        });
    });
</script>