<tr>
   <td class="fieldLabelArea">
		Group :
	</td>
	<td nowrap>
		<select id="groupName" name="groupName" class="single-group-picker">
            <option selected="selected" value="#if($groupName)$groupName#end">#if($groupName)$groupName#end</option>
        </select>
        <script type="text/javascript">
            new AJS.SingleSelect({
              element : AJS.$("#groupName"),
              submitInputVal: true,
              showDropdownButton: false,
              errorMessage: AJS.format("There is no such group \'\'{0}\'\'.", "'{0}'"),
              ajaxOptions : {
                  url : contextPath + "/rest/api/2/groups/picker",
                  query : true,
                  data: {showAvatar: true},
                  formatResponse : JIRA.GroupPickerUtil.formatResponse
              }
            });
        </script>
	</td>
</tr>